a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.color-1 {
    color: #999999;
}
.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 7px;
    background-size: cover;
}

.input-container input, .input-container select {
    border-radius: 0!important;
    color: #858585;
    background-color: #FFF;
    border: 1px solid #D5D5D5;
    padding: 5px 4px 6px;
    font-size: 14px;
    font-family: inherit;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
.icon-search {
    background-image: url(../images/icons/14.png);
}

.icon-back {
    width: 10px;
    background-image: url(../images/icons/13.png);
}

.icon-list {
    background-image: url(../images/icons/7.png);
}

.icon-learning {
    width: 21px;
    background-image: url(../images/icons/4.png);
}

.icon-learned {
    background-image: url(../images/icons/11.png);
}

.icon-learn {
    background-image: url(../images/icons/9.png);
}

.icon-tips {
    width: 15px;
    background-image: url(../images/icons/5.png);
}

.icon-issuse {
    background-image: url(../images/icons/6.png);
}

.icon-book {
    width: 16px;
    background-image: url(../images/icons/8.png);
}

.icon-search {
    background-image: url(../images/icons/14.png);
}

.icon-arrow-l {
    width: 10px;
    background-image: url(../images/icons/13.png);
}

.icon-arrow-r {
    width: 10px;
    background-image: url(../images/icons/12.png);
}

.icon-bj {
    width: 17px;
    background-image: url(../images/icons/19.png);
}

.icon-profile {
    width: 27px;
    background-image: url(../images/icons/profile.png);
}
li:hover .icon-profile {
    
    background-image: url(../images/icons/profile_0.png);
}
.icon-logout {
    width: 23px;
    background-image: url(../images/icons/logout.png);
}
li:hover .icon-logout {
    background-image: url(../images/icons/logout_0.png);

}

.icon-rw {
    background-image: url(../images/icons/10.png);
}

.icon-xc {
    background-image: url(../images/icons/2.png);
}

.icon-cl {
    background-image: url(../images/icons/17.png);
}

.icon-cp {
    background-image: url(../images/icons/18.png);
}

.icon-delete {
    background-image: url(../images/icons/d.png);
}

.icon-close {
    background-image: url(../images/icons/1.png);
}

.icon-change {
    background-image: url(../images/icons/r.png);
}
span:hover .icon-delete {
    background-image: url(../images/icons/d_0.png);

}
span:hover .icon-change {
    background-image: url(../images/icons/r_0.png);

}
.icon-phone {
    width: 13px;
    background-image: url(../images/icons/phone.png);
}

.icon-lock {
    width: 17px;
    background-image: url(../images/icons/lock.png);
}
li:hover .icon-lock {
    background-image: url(../images/icons/lock_0.png);
}
.icon-head {
    width: 37px;
    height: 28px;
    background-image: url(../images/icons/c1.png);
    background-size: cover;
}
.icon-book2 {
    width: 25px;
    height: 28px;
    background-image: url(../images/icons/c2.png);
    background-size: cover;
}
.icon-global {
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/c3.png);
    background-size: cover;
}
.icon-badge {
    width: 30px;
    height: 42px;
    background-image: url(../images/icons/c0.png);
    background-size: cover;
}
.btn {
    border-radius: 2px;
    cursor: pointer;
}
.btn-normal {
    border: 1px solid #E4E4E4;
    padding: 9px 18px;
    color: #999999;
    font-family: inherit;
}
.btn:hover {
    color: #99D74A;
    border: 1px solid #99D74A;
    font-family: inherit;
}

.btn-primary {
    padding: 15px 59px;
    color: white;
    background-color: #99D74A;
    font-family: inherit;
}

.btn-primary:hover {
    color: white;
    background: #84BB3C;
    border: none;
}

.btn-sm {
    padding: 5px 18px;
}
.overlayer {
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 4px;
    min-width: 650px;
    overflow: hidden;
    display: none;
}

.modal-header {
    min-height: 60px;
    font-size: 16px;
    color: #333333;
    padding: 20px 40px;
    border: 1px solid #E4E4E4;
}

.modal-header span {
    float: right;
    cursor: pointer;
}

.modal-body {
    padding: 30px;
    /*padding-bottom: 0;*/
}
.course {
    height: 260px;
    width: 260px;
    border: 1px solid #E4E4E4;
    padding: 20px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
}
.course-border {
    width: 238px;
    height: 238px;
    
    border: 1px solid #E4E4E4;
    position: absolute;
    top: 10px;
    left: 10px;

}
.do-lean {
    position: absolute;
    top: 10px;
    left: 0;
    line-height: 24px;
    background: #99D74A;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    display: inline-block;
    padding: 2px 16px;
    color: white;
}
.do-code {
    letter-spacing: 5px;
}

.course img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 37px auto;
}

.course p {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0;
}
.course h2{
    font-weight: normal;
    margin: 0;
    font-size: 13px;
    color: #999;
}

.starts .num {
    float: right;
    font-size: 14px;
    color: #999999;
}

.star {
    width: 20px;
    height: 20px;
    background-image: url(../images/star.png);
    background-size: cover;
    display: inline-block;
}

.star-empty {
    background-image: url(../images/star_e.png);
}

.detail {
    height: 260px;
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    background: #F5F5F5;
    display: none;
}

.detail p {
    font-size: 14px;
    color: #666666;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}

.course:hover>.detail {
    display: table;
}

.input-attach {
    border: 1px solid #E4E4E4;
    padding: 10px 20px;
    border-radius: 5px;
}

.input-attach input {
    outline: none;
}

.add-cp-course .course{
        margin: auto;
        display: block
}
.cp-text {
        text-align: center;
    color: #696969;
}
.cp-text span{
    letter-spacing: 10px;
}

.popover {
    display: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    
    background: white;
    top: 100%;
    left: 0;
    z-index: 10000;
    position: absolute;
}

.popover-tragger {
    position: relative;
}
.popover-tragger:hover .popover {
    display: block;
}
.popover ul {
    margin: 0;
    
    line-height: 40px;
    color: #999999;
    width: 150px;
    text-align: center;
}
.popover ul li {
    padding: 5px 0px;
    border-bottom: 1px solid #E4E4E4;

}